<div class="container">
  <form class="movie__container" [formGroup]="movieForm" (ngSubmit)="createMovie()">
      <search-select
      placeholder="Wybierz kraj"
      width="100%"
      [autoActiveFirstOption]=true
      [formControl]="countries"
      [dataSource]="dataSource">
    </search-select>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Tytuł filmu">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="engTitle" placeholder="Angielski tytuł filmu">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="yearOfProduction" appDigitOnly minlength="4" placeholder="Rok produkcji">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="duration" appDigitOnly maxlength="4" placeholder="Czas produkcji">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="poster" placeholder="Plakat">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Opis filmu" cols="30" rows="5"></textarea>
    </mat-form-field>

    <button type="submit" class="btn btn-success">Dodaj film</button>
  </form>
</div>
